<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LarChat</title>
    <link rel="stylesheet" href="style3.css">
</head>
<body>
    <form action="/newchat" method="post">
        chat name: <input type="text" name= "name" required> <br>
        chat id: <input type="text" name= "chatid" required>
        <button>submit</button>
    </form>
</body>
</html>
